header {
    font-weight: bold;
    background-color: #a3ff99;
    font-size: 20px;
}

header a {
    color: #282828;
    text-decoration: none;
}

header a:hover {
    color: #555555;
}







/*-----------cards-------------*/

.tarjeta-verde {
    background-color: #a3ff99;
    border-radius: 20px; 
    padding: 15px;
    width: 100%;
    aspect-ratio: 16 / 10;
    box-shadow: 0 8px 15px rgba(0,0,0,0.08);
    transition: transform 0.3s ease;
}

    /* Efecto: la tarjeta se levanta un poquito al pasar el mouse */
    .tarjeta-verde:hover {
        transform: translateY(-5px);
    }

.caja-blanca {
    background-color: #ffffff;
    border: none; 
    border-radius: 12px;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garantiza que el macaco llene el espacio sin apachurrarse */
}